* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 100%;
  height: 40vh;
  display: flex;
  margin-top: 80px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
h1 {
  width: 360px;
  margin: 10px;
  border-bottom: 2px black solid;
}
input,
button,
textarea {
  font-size: 1rem;
  min-width: 360px;
  height: 40px;
  margin: 10px;
  padding: 6px;
}
button {
  color: white;
  background-color: green;
}
table {
  margin: auto;
  width: 80%;
  margin-bottom: 80px;
  text-align: center;
  border-collapse: collapse;
}
th {
  background-color: black;
  color: white;
}
td,
th {
  border: 2px solid gray;
  width: 20%;
  padding: 10px;
}
.fa-edit {
  color: blue;
}
.fa-trash,
h6 {
  color: red;
}
.fa-trash,
.fa-edit {
  margin-inline: 30px;
}
.fa-trash,
.fa-edit,
button {
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
